# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/win-64/ca-certificates-2025.1.31-h56e8100_0.conda
https://conda.anaconda.org/conda-forge/noarch/cuda-version-12.8-h5d125a7_3.conda
https://conda.anaconda.org/conda-forge/win-64/intel-openmp-2024.2.1-h57928b3_1083.conda
https://conda.anaconda.org/conda-forge/win-64/python_abi-3.9-6_cp39.conda
https://conda.anaconda.org/conda-forge/noarch/tzdata-2025b-h78e105d_0.conda
https://conda.anaconda.org/conda-forge/win-64/ucrt-10.0.22621.0-h57928b3_1.conda
https://conda.anaconda.org/conda-forge/noarch/cuda-cudart_win-64-12.8.90-he0c23c2_1.conda
https://conda.anaconda.org/conda-forge/win-64/libwinpthread-12.0.0.r4.gg4f2fc60ca-h57928b3_9.conda
https://conda.anaconda.org/conda-forge/win-64/vc14_runtime-14.42.34438-hfd919c2_26.conda
https://conda.anaconda.org/conda-forge/win-64/libgomp-14.2.0-h1383e82_2.conda
https://conda.anaconda.org/conda-forge/win-64/vc-14.3-h2b53caa_26.conda
https://conda.anaconda.org/conda-forge/win-64/vs2015_runtime-14.42.34438-h7142326_26.conda
https://conda.anaconda.org/conda-forge/win-64/_openmp_mutex-4.5-2_gnu.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-common-0.12.0-h2466b09_0.conda
https://conda.anaconda.org/conda-forge/win-64/bzip2-1.0.8-h2466b09_7.conda
https://conda.anaconda.org/conda-forge/win-64/c-ares-1.34.4-h2466b09_0.conda
https://conda.anaconda.org/conda-forge/win-64/cuda-cudart-12.8.90-he0c23c2_1.conda
https://conda.anaconda.org/conda-forge/win-64/cuda-cupti-12.8.90-he0c23c2_0.conda
https://conda.anaconda.org/conda-forge/win-64/cuda-nvrtc-12.8.93-he0c23c2_1.conda
https://conda.anaconda.org/conda-forge/win-64/lerc-4.0.0-h63175ca_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libabseil-20250127.1-cxx17_h4eb7d71_0.conda
https://conda.anaconda.org/conda-forge/win-64/libbrotlicommon-1.1.0-h2466b09_2.conda
https://conda.anaconda.org/conda-forge/win-64/libcrc32c-1.1.2-h0e60522_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libcufft-11.3.3.83-he0c23c2_1.conda
https://conda.anaconda.org/conda-forge/win-64/libcurand-10.3.9.90-he0c23c2_1.conda
https://conda.anaconda.org/conda-forge/win-64/libdeflate-1.23-h9062f6e_0.conda
https://conda.anaconda.org/conda-forge/win-64/libffi-3.4.6-h537db12_1.conda
https://conda.anaconda.org/conda-forge/win-64/libiconv-1.18-h135ad9c_1.conda
https://conda.anaconda.org/conda-forge/win-64/libjpeg-turbo-3.0.0-hcfcfb64_1.conda
https://conda.anaconda.org/conda-forge/win-64/liblzma-5.6.4-h2466b09_0.conda
https://conda.anaconda.org/conda-forge/win-64/libnvjitlink-12.8.93-he0c23c2_1.conda
https://conda.anaconda.org/conda-forge/win-64/libsqlite-3.49.1-h67fdade_2.conda
https://conda.anaconda.org/conda-forge/win-64/libutf8proc-2.10.0-hf9b99b7_0.conda
https://conda.anaconda.org/conda-forge/win-64/libuv-1.50.0-h2466b09_0.conda
https://conda.anaconda.org/conda-forge/win-64/libwebp-base-1.5.0-h3b0e114_0.conda
https://conda.anaconda.org/conda-forge/win-64/libzlib-1.3.1-h2466b09_2.conda
https://conda.anaconda.org/conda-forge/win-64/lz4-c-1.10.0-h2466b09_1.conda
https://conda.anaconda.org/conda-forge/win-64/openssl-3.4.1-ha4e3fda_0.conda
https://conda.anaconda.org/conda-forge/win-64/sleef-3.8-h7e360cc_0.conda
https://conda.anaconda.org/conda-forge/win-64/snappy-1.2.1-h500f7fa_1.conda
https://conda.anaconda.org/conda-forge/win-64/tk-8.6.13-h5226925_1.conda
https://conda.anaconda.org/conda-forge/win-64/xxhash-0.8.3-h2466b09_0.conda
https://conda.anaconda.org/conda-forge/win-64/yaml-0.2.5-h8ffe710_2.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/aws-c-cal-0.8.7-ha758494_0.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-compression-0.3.1-ha758494_2.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-sdkutils-0.2.3-ha758494_2.conda
https://conda.anaconda.org/conda-forge/win-64/aws-checksums-0.2.3-ha758494_2.conda
https://conda.anaconda.org/conda-forge/win-64/krb5-1.21.3-hdf4eb48_0.conda
https://conda.anaconda.org/conda-forge/win-64/libbrotlidec-1.1.0-h2466b09_2.conda
https://conda.anaconda.org/conda-forge/win-64/libbrotlienc-1.1.0-h2466b09_2.conda
https://conda.anaconda.org/conda-forge/win-64/libcublas-12.8.4.1-he0c23c2_1.conda
https://conda.anaconda.org/conda-forge/win-64/libcusparse-12.5.8.93-he0c23c2_0.conda
https://conda.anaconda.org/conda-forge/win-64/libevent-2.1.12-h3671451_1.conda
https://conda.anaconda.org/conda-forge/win-64/libgcc-14.2.0-h1383e82_2.conda
https://conda.anaconda.org/conda-forge/win-64/libpng-1.6.47-had7236b_0.conda
https://conda.anaconda.org/conda-forge/win-64/libprotobuf-5.29.3-he9d8c4a_0.conda
https://conda.anaconda.org/conda-forge/win-64/libre2-11-2024.07.02-hd248061_3.conda
https://conda.anaconda.org/conda-forge/win-64/libssh2-1.11.1-he619c9f_0.conda
https://conda.anaconda.org/conda-forge/win-64/libxml2-2.13.7-he286e8c_0.conda
https://conda.anaconda.org/conda-forge/win-64/python-3.9.21-h37870fc_1_cpython.conda
https://conda.anaconda.org/conda-forge/win-64/zstd-1.5.7-hbeecb71_2.conda
https://conda.anaconda.org/conda-forge/noarch/aiohappyeyeballs-2.6.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/attrs-25.3.0-pyh71513ae_0.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-io-0.17.0-ha1a8d55_6.conda
https://conda.anaconda.org/conda-forge/win-64/brotli-python-1.1.0-py39ha51f57c_2.conda
https://conda.anaconda.org/conda-forge/noarch/cachetools-5.5.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/certifi-2025.1.31-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/charset-normalizer-3.4.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/colorama-0.4.6-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/win-64/cudnn-9.8.0.87-h1361d0a_0.conda
https://conda.anaconda.org/conda-forge/noarch/dataclasses-0.8-pyhc8e2a94_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/dill-0.3.7-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/distro-1.9.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/exceptiongroup-1.2.2-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/filelock-3.18.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/freetype-2.13.3-h0b5ce68_0.conda
https://conda.anaconda.org/conda-forge/win-64/frozenlist-1.5.0-py39hf73967f_1.conda
https://conda.anaconda.org/conda-forge/noarch/fsspec-2025.3.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/greenlet-3.1.1-py39ha51f57c_1.conda
https://conda.anaconda.org/conda-forge/noarch/hpack-4.1.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/httptools-0.6.4-py39ha55e580_0.conda
https://conda.anaconda.org/conda-forge/noarch/hyperframe-6.1.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/idna-3.10-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/win-64/jiter-0.9.0-py39h92a245a_0.conda
https://conda.anaconda.org/conda-forge/win-64/jsonpointer-3.0.0-py39hcbf5309_1.conda
https://conda.anaconda.org/conda-forge/win-64/libcudss-0.5.0.16-hffc9a7f_1.conda
https://conda.anaconda.org/conda-forge/win-64/libcurl-8.12.1-h88aaa65_0.conda
https://conda.anaconda.org/conda-forge/win-64/libcusolver-11.7.3.90-he0c23c2_1.conda
https://conda.anaconda.org/conda-forge/win-64/libhwloc-2.11.2-default_ha69328c_1001.conda
https://conda.anaconda.org/conda-forge/win-64/libthrift-0.21.0-hbe90ef8_0.conda
https://conda.anaconda.org/conda-forge/win-64/libtiff-4.7.0-h797046b_3.conda
https://conda.anaconda.org/conda-forge/win-64/markupsafe-3.0.2-py39hf73967f_1.conda
https://conda.anaconda.org/conda-forge/noarch/mdurl-0.1.2-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/mpmath-1.3.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/mypy_extensions-1.0.0-pyha770c72_1.conda
https://conda.anaconda.org/conda-forge/noarch/networkx-3.2.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/orc-2.1.1-h35764e3_1.conda
https://conda.anaconda.org/conda-forge/win-64/orjson-3.10.16-py39h92a245a_0.conda
https://conda.anaconda.org/conda-forge/noarch/packaging-24.2-pyhd8ed1ab_2.conda
https://conda.anaconda.org/conda-forge/win-64/propcache-0.2.1-py39hf73967f_1.conda
https://conda.anaconda.org/conda-forge/win-64/protobuf-5.29.3-py39ha51f57c_0.conda
https://conda.anaconda.org/conda-forge/win-64/pthread-stubs-0.4-h0e40799_1002.conda
https://conda.anaconda.org/conda-forge/noarch/pyasn1-0.6.1-pyhd8ed1ab_2.conda
https://conda.anaconda.org/conda-forge/noarch/pybind11-global-2.13.6-pyhab904b8_2.conda
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.22-pyh29332c3_1.conda
https://conda.anaconda.org/conda-forge/noarch/pygments-2.19.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-dotenv-1.1.0-pyh29332c3_1.conda
https://conda.anaconda.org/conda-forge/noarch/python-multipart-0.0.20-pyhff2d567_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-tzdata-2025.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/python-xxhash-3.5.0-py39ha55e580_2.conda
https://conda.anaconda.org/conda-forge/noarch/pytz-2024.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/pyyaml-6.0.2-py39hf73967f_2.conda
https://conda.anaconda.org/conda-forge/win-64/re2-2024.07.02-haf4117d_3.conda
https://conda.anaconda.org/conda-forge/win-64/regex-2024.11.6-py39ha55e580_0.conda
https://conda.anaconda.org/conda-forge/win-64/safetensors-0.5.3-py39h92a245a_0.conda
https://conda.anaconda.org/conda-forge/noarch/setuptools-75.8.2-pyhff2d567_0.conda
https://conda.anaconda.org/conda-forge/noarch/shellingham-1.5.4-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/six-1.17.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/sniffio-1.3.1-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/tenacity-8.5.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/threadpoolctl-3.6.0-pyhecae5ae_0.conda
https://conda.anaconda.org/conda-forge/noarch/typing_extensions-4.13.0-pyh29332c3_1.conda
https://conda.anaconda.org/conda-forge/win-64/websockets-15.0.1-py39ha55e580_0.conda
https://conda.anaconda.org/conda-forge/noarch/wheel-0.45.1-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/win_inet_pton-1.1.0-pyh7428d3b_8.conda
https://conda.anaconda.org/conda-forge/win-64/xorg-libxau-1.0.12-h0e40799_0.conda
https://conda.anaconda.org/conda-forge/win-64/xorg-libxdmcp-1.1.5-h0e40799_0.conda
https://conda.anaconda.org/conda-forge/noarch/zipp-3.21.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/aiosignal-1.3.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/anyio-3.7.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-event-stream-0.5.4-he38e90d_2.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-http-0.9.4-h9352bcf_4.conda
https://conda.anaconda.org/conda-forge/win-64/cffi-1.17.1-py39ha55e580_0.conda
https://conda.anaconda.org/conda-forge/noarch/click-8.1.8-pyh7428d3b_0.conda
https://conda.anaconda.org/conda-forge/noarch/dnspython-2.7.0-pyhff2d567_1.conda
https://conda.anaconda.org/conda-forge/noarch/googleapis-common-protos-1.69.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/h11-0.14.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/h2-4.2.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib-metadata-8.6.1-pyha770c72_0.conda
https://conda.anaconda.org/conda-forge/noarch/jinja2-3.1.6-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/joblib-1.4.2-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/jsonpatch-1.33-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/win-64/lcms2-2.17-hbcf6048_0.conda
https://conda.anaconda.org/conda-forge/win-64/libgrpc-1.71.0-h35301be_0.conda
https://conda.anaconda.org/conda-forge/win-64/libxcb-1.17.0-h0e4246c_0.conda
https://conda.anaconda.org/conda-forge/noarch/markdown-it-py-3.0.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/marshmallow-3.26.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/multiprocess-0.70.15-py39ha55989b_1.conda
https://conda.anaconda.org/conda-forge/win-64/openjpeg-2.5.3-h4d64b90_0.conda
https://conda.anaconda.org/conda-forge/noarch/pip-25.0.1-pyh8b19718_0.conda
https://conda.anaconda.org/conda-forge/noarch/proto-plus-1.26.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/pyasn1-modules-0.4.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/pybind11-2.13.6-pyh1ec8472_2.conda
https://conda.anaconda.org/conda-forge/noarch/pypdf-5.4.0-pyh29332c3_0.conda
https://conda.anaconda.org/conda-forge/noarch/pysocks-1.7.1-pyh09c184e_7.conda
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.9.0.post0-pyhff2d567_1.conda
https://conda.anaconda.org/conda-forge/noarch/pyu2f-0.1.5-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/rsa-4.9-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/sympy-1.13.3-pyh04b8f61_5.conda
https://conda.anaconda.org/conda-forge/win-64/tbb-2021.13.0-h62715c5_1.conda
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.67.1-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/typing-extensions-4.13.0-h9fa5a19_1.conda
https://conda.anaconda.org/conda-forge/noarch/typing-inspection-0.4.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/typing_inspect-0.9.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/annotated-types-0.7.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/async-timeout-4.0.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-auth-0.8.6-h0855a55_4.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-mqtt-0.12.2-h92a58f8_2.conda
https://conda.anaconda.org/conda-forge/win-64/cryptography-44.0.2-py39hae46aff_0.conda
https://conda.anaconda.org/conda-forge/noarch/dataclasses-json-0.6.7-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/email-validator-2.2.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/httpcore-1.0.7-pyh29332c3_1.conda
https://conda.anaconda.org/conda-forge/win-64/libgoogle-cloud-2.36.0-hf249c01_1.conda
https://conda.anaconda.org/conda-forge/win-64/mkl-2024.2.2-h66d3029_15.conda
https://conda.anaconda.org/conda-forge/win-64/multidict-6.2.0-py39hf73967f_0.conda
https://conda.anaconda.org/conda-forge/win-64/optree-0.14.1-py39h2b77a98_1.conda
https://conda.anaconda.org/conda-forge/win-64/pillow-11.1.0-py39h73ef694_0.conda
https://conda.anaconda.org/conda-forge/win-64/pydantic-core-2.33.0-py39ha6b3726_0.conda
https://conda.anaconda.org/conda-forge/noarch/rich-14.0.0-pyh29332c3_0.conda
https://conda.anaconda.org/huggingface/noarch/sacremoses-master-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/sqlalchemy-2.0.40-py39ha55e580_0.conda
https://conda.anaconda.org/conda-forge/noarch/starlette-0.46.1-pyha770c72_0.conda
https://conda.anaconda.org/conda-forge/noarch/typer-slim-0.15.2-pyh29332c3_0.conda
https://conda.anaconda.org/conda-forge/noarch/uvicorn-0.34.0-pyh5737063_0.conda
https://conda.anaconda.org/conda-forge/win-64/watchfiles-1.0.4-py39h92a245a_0.conda
https://conda.anaconda.org/conda-forge/win-64/zstandard-0.23.0-py39ha55e580_1.conda
https://conda.anaconda.org/conda-forge/win-64/aws-c-s3-0.7.13-h1a6e373_2.conda
https://conda.anaconda.org/conda-forge/noarch/email_validator-2.2.0-hd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/httpx-0.28.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/libblas-3.9.0-31_h641d27c_mkl.conda
https://conda.anaconda.org/conda-forge/win-64/libgoogle-cloud-storage-2.36.0-he5eb982_1.conda
https://conda.anaconda.org/conda-forge/noarch/pydantic-2.11.1-pyh3cfb1c2_0.conda
https://conda.anaconda.org/conda-forge/noarch/pyopenssl-25.0.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/rich-toolkit-0.11.3-pyh29332c3_0.conda
https://conda.anaconda.org/conda-forge/noarch/typer-slim-standard-0.15.2-h801b22e_0.conda
https://conda.anaconda.org/conda-forge/noarch/urllib3-2.3.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/uvicorn-standard-0.34.0-h5737063_0.conda
https://conda.anaconda.org/conda-forge/win-64/yarl-1.18.3-py39hf73967f_1.conda
https://conda.anaconda.org/conda-forge/win-64/aiohttp-3.11.15-py39hf73967f_0.conda
https://conda.anaconda.org/conda-forge/win-64/aws-crt-cpp-0.31.0-h91694c7_4.conda
https://conda.anaconda.org/conda-forge/noarch/elastic-transport-8.17.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/httpx-sse-0.4.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/win-64/libcblas-3.9.0-31_h5e41251_mkl.conda
https://conda.anaconda.org/conda-forge/win-64/liblapack-3.9.0-31_h1aa476e_mkl.conda
https://conda.anaconda.org/conda-forge/noarch/openai-1.70.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/openapi-schema-pydantic-1.2.4-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/pydantic-settings-2.8.1-pyh3cfb1c2_0.conda
https://conda.anaconda.org/conda-forge/noarch/requests-2.32.3-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/typer-0.15.2-pyhff008b6_0.conda
https://conda.anaconda.org/conda-forge/win-64/aws-sdk-cpp-1.11.510-h2bfe9dd_3.conda
https://conda.anaconda.org/conda-forge/noarch/elasticsearch-8.17.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/fastapi-cli-0.0.7-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/google-auth-2.38.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/huggingface/noarch/huggingface_hub-0.29.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/win-64/libfaiss-1.9.0-h3a9ed07_0_cpu.conda
https://conda.anaconda.org/conda-forge/win-64/libmagma-2.9.0-he50f1ff_0.conda
https://conda.anaconda.org/conda-forge/win-64/numpy-1.26.4-py39hddb5d58_0.conda
https://conda.anaconda.org/conda-forge/noarch/requests-toolbelt-1.0.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/win-64/faiss-1.9.0-py39hc157776_0_cpu.conda
https://conda.anaconda.org/conda-forge/noarch/fastapi-0.115.12-pyh29332c3_0.conda
https://conda.anaconda.org/conda-forge/noarch/google-api-core-2.24.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/langsmith-0.2.11-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/libarrow-19.0.1-h8be2d54_5_cuda.conda
https://conda.anaconda.org/conda-forge/win-64/libtorch-2.6.0-cuda126_mkl_hdbd231b_303.conda
https://conda.anaconda.org/conda-forge/win-64/numexpr-2.10.2-mkl_py39h633a001_0.conda
https://conda.anaconda.org/conda-forge/win-64/pandas-2.2.3-py39h2366fc2_2.conda
https://conda.anaconda.org/conda-forge/win-64/scipy-1.13.1-py39h1a10956_0.conda
https://conda.anaconda.org/conda-forge/win-64/tokenizers-0.21.1-py39hb5dfeee_0.conda
https://conda.anaconda.org/conda-forge/win-64/faiss-cpu-1.9.0-hf9c7e24_0.conda
https://conda.anaconda.org/conda-forge/noarch/langchain-core-0.3.49-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/win-64/libarrow-acero-19.0.1-h7d8d6a5_5_cuda.conda
https://conda.anaconda.org/conda-forge/win-64/libparquet-19.0.1-ha850022_5_cuda.conda
https://conda.anaconda.org/conda-forge/win-64/pyarrow-core-19.0.1-py39h0b3d880_0_cuda.conda
https://conda.anaconda.org/conda-forge/win-64/pytorch-2.6.0-cuda126_mkl_py39_hda066c2_303.conda
https://conda.anaconda.org/conda-forge/win-64/scikit-learn-1.6.1-py39hdd013cc_0.conda
https://conda.anaconda.org/conda-forge/noarch/langchain-text-splitters-0.3.7-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/win-64/libarrow-dataset-19.0.1-h7d8d6a5_5_cuda.conda
https://conda.anaconda.org/conda-forge/noarch/langchain-0.3.22-pymin39_hff2d567_0.conda
https://conda.anaconda.org/conda-forge/win-64/libarrow-substrait-19.0.1-hb76e781_5_cuda.conda
https://conda.anaconda.org/conda-forge/noarch/langchain-community-0.3.20-pymin39_hff2d567_0.conda
https://conda.anaconda.org/conda-forge/win-64/pyarrow-19.0.1-py39hcbf5309_0.conda
https://conda.anaconda.org/conda-forge/noarch/datasets-2.14.4-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/transformers-4.50.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/sentence-transformers-3.4.1-pyhd8ed1ab_0.conda
